<p id="notice"><%= notice %></p>

<p>
  <strong>Debate:</strong>
  <%= @comment.debate %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @comment.comment %>
</p>

<p>
  <strong>Like count:</strong>
  <%= @comment.like_count %>
</p>

<p>
  <strong>Dislike count:</strong>
  <%= @comment.dislike_count %>
</p>

<p>
  <strong>Is visible:</strong>
  <%= @comment.is_visible %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
