<div id="mypage" class="mypage">
  <div class="bg-overlay">
    <div class="container">
      <header class="sec-heading">
        <h2>My Debates!</h2>
        <span class="subheading">한눈에 보세요</span>
      </header>
      <div class="row">
        <div class="col-md-4">
          <a href="/users/edit">프로필 수정</a><br />
          <%= current_user.name %><br />
          <%= current_user.email %>
        </div>
        <div class="col-nd-8">
          <%= current_user.intro %>
        </div>
      </div>
    </div>
  </div><!--bg-overlay-->
  <div class="container">
    <h1>투표한 논쟁</h1>
    <ul>
      <% current_user.debates.each do |d| %>
        <li><%= link_to d.title, d %></li>
      <% end %>
    </ul>
  </div>
  <div class="container">
    <h1>만든 논쟁</h1>
    <ul>
      <% current_user.debates.each do |d| %>
        <li><%= link_to d.title, d %></li>
      <% end %>
    </ul>
  </div>
</div>
