<div id="mypage" class="mypage">
  <div class="bg-overlay">
    <div class="container">
      <header class="sec-heading">
        <h2><%= @user.name %> 님의 프로필</h2>
      </header>
      <div class="row">
        <div class="col-md-offset-1 col-md-3">
          <%= image_tag 'profile.png', class: "profile-img" %>
          <% if @user == current_user %>
            <a href="/users/edit" class="edit-btn">
              <span class="label label-outline">프로필 수정</span>
            </a>
          <% end %>
        </div>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-6">
              <span class="tag-title">이름</span>
              <span class="profile-value"><%= @user.name %></span>
            </div>
            <div class="col-md-6">
              <span class="tag-title">이메일</span>
              <span class="profile-value"><%= @user.email.gsub('@', ' at ') %></span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 intro">
              <span class="tag-title">자기소개</span>
              <p class="profile-value profile-intro"><%= @user.intro %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!--bg-overlay-->
  <div class="container">
    <h1>투표한 논쟁</h1>
    <ul>
      <% if @user_votes.empty? %>
        <li>투표한 논쟁이 없습니다</li>
      <% else %>
        <% @user_votes.each do |h| %>
          <li><%= h.is_pros ? '찬' : '반' %> : <%= link_to h.debate.title, h.debate %></li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="gray-bg">
    <section id="blog" class="section container blog-columns blog-preview">
      <div class="row">
        <header class="sec-heading">
          <h2>만든 논쟁들</h2>
          <% if @user_debates.empty? %>
            <span class="subheading">아직 만든 논쟁이 없습니다. <%= link_to '새 논쟁 만들기', new_debate_path if @user == current_user %></span>
          <% end %>
        </header>
        <% @user_debates.each do |d| %>
        <!-- Blog Post 1 -->
        <div class="col-lg-4 col-md-6 mb-sm-50">
          <div class="blog-post wow fadeIn" data-wow-duration="2s">

            <!-- Image -->
            <a href="/debates/<%=d.id%>" class="post-img"><img src="<%=d.image.thumb.url%>" alt="<%=d.title%>"></a>

            <div class="bp-content">
              <!-- Meta data -->
              <div class="post-meta">
                <a href="#" class="post-date">
                  <i class="fa fa-calendar-o"></i>
                  <span><%=d.created_at.in_time_zone('Seoul').strftime('%B %d.%Y')%></span>
                </a>
                <a href="#" class="post-comments">
                  <i class="fa fa-comments-o"></i>
                  <span><%=d.comments.count%></span>
                </a>
              </div><!-- / .meta -->

              <!-- Post Title -->
              <a href="/debates/<%=d.id%>" class="post-title"><h4><%=d.title%></h4></a>

              <!-- Blurb -->
              <p><%=d.content%></p>

              <!-- Link -->
              <%= link_to "Read More", d, class: "btn btn-small" %>

            </div><!-- / .bp-content -->

          </div><!-- / .blog-post -->
        </div><!-- / .col-lg-4 -->
      <% end %>
      </div><!-- / .row -->
    </section><!-- / .container -->
  </div><!-- / .gray-bg -->

  <div class="container">
    <h1>작성한 근거들</h1>
    <ul>
      <% if @user_reasons.empty? %>
        <li>작성한 근거가 없습니다.</li>
      <% else %>
        <% @user_reasons.each do |r| %>
          <li><%= r.is_pros ? "찬" : "반" %> <%= link_to r.title, r %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
