<!DOCTYPE html>
<html>
<head>
  <title>WEPOV</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick-theme.css"/>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- ========== Navigation ========== -->

<nav class="navbar navbar-default navbar-fixed-top mega navbar-inverse navbar-trans" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- Logo -->
      <a class="navbar-brand" href="/">
        <%= image_tag 'logo.png', alt: 'WEPOV.com' %>
      </a>
    </div><!-- / .navbar-header -->

    <!-- Navbar Links -->
    <div id="navbar" class="navbar-collapse collapse">
      <!-- Navbar Links Right -->
      <ul class="nav navbar-nav navbar-right">
        <li class="mega-fw">
          <%= link_to('새 논쟁 만들기', new_debate_path) %>
        </li>

        <% if user_signed_in? %>
        <li class="mega-fw">
        <%= link_to('Mypage', user_path(current_user.id))  %>
        </li>
        <li class="mega-fw">
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
        </li>
        <% else %>
        <li class="mega-fw">
            <%= link_to('Login', new_user_session_path)  %>
        </li>
        <% end %>

      </ul><!-- / .nav .navbar-nav .navbar-right -->

    </div><!--/.navbar-collapse -->
  </div><!-- / .container -->
</nav><!-- / .navbar -->

<div id="app-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <% if flash[:notice] %>
          <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
          <strong>Notice!</strong> <%= flash[:notice] %>
      </div>
      <% end %>
        <% if flash[:alert] %>
          <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
          <strong>Alert!</strong> <%= flash[:alert] %>
      </div>
      <% end %>
      </div>
    </div>
  </div>

  <div id="react-app"></div>
  <%= yield %>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
<script src="/js/bundle.js"></script>
<%= javascript_include_tag 'application' %>
</body>
</html>
